# 2. DataFrame
two-dimension data (colletion of Series)

## Data Preparation
dictionary

In [14]:
data = {
    'name' : ['Park', 'Lee', 'Kim', 'Rishi', 'Chen'],
    'school' : ['GATech','GATech','GATech','GATech','GATech'],
    'language' : ['Python', 'Java', 'C', 'Ruby', 'TypeScript']
}
data

{'name': ['Park', 'Lee', 'Kim', 'Rishi', 'Chen'],
 'school': ['GATech', 'GATech', 'GATech', 'GATech', 'GATech'],
 'language': ['Python', 'Java', 'C', 'Ruby', 'TypeScript']}

In [2]:
type(data)

dict

In [15]:
data['name']

['Park', 'Lee', 'Kim', 'Rishi', 'Chen']

In [4]:
data['school']

['GATech', 'GATech', 'GATech', 'GATech', 'GATech']

In [5]:
data['language']

['Python', 'Java', 'C', 'Ruby', 'TypeScript']

## DataFrame Object Creation

In [17]:
import pandas as pd
df = pd.DataFrame(data)

In [18]:
df

    name  school    language
0   Park  GATech      Python
1    Lee  GATech        Java
2    Kim  GATech           C
3  Rishi  GATech        Ruby
4   Chen  GATech  TypeScript

## Data Access

In [19]:
df['name']

0     Park
1      Lee
2      Kim
3    Rishi
4     Chen
Name: name, dtype: object

In [9]:
df['school']

0    GATech
1    GATech
2    GATech
3    GATech
4    GATech
Name: school, dtype: object

In [20]:
df[['name', 'language']]

    name    language
0   Park      Python
1    Lee        Java
2    Kim           C
3  Rishi        Ruby
4   Chen  TypeScript

## DataFrame Object Creation (Index)

In [21]:
df = pd.DataFrame(data, index = ['1', '2', '3', '4', '5'])
df

    name  school    language
1   Park  GATech      Python
2    Lee  GATech        Java
3    Kim  GATech           C
4  Rishi  GATech        Ruby
5   Chen  GATech  TypeScript

## DataFrame Object Creation (Column)

In [23]:
df = pd.DataFrame(data, columns = ['language', 'name'])
df

     language   name
0      Python   Park
1        Java    Lee
2           C    Kim
3        Ruby  Rishi
4  TypeScript   Chen