# 8. Data Selection (iloc)
use Integer location(address) to find rows and cols

In [7]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col = 'number')
df

         name  school    language  gpa
number
1        Park  GATech      Python  3.4
2         Lee  GATech        Java  3.2
3         Kim  GATech           C  3.8
4       Rishi  GATech        Ruby  4.0
5        Chen  GATech  TypeScript  3.5

In [8]:
df.iloc[0]

name          Park
school      GATech
language    Python
gpa            3.4
Name: 1, dtype: object

In [9]:
df.iloc[0:3]

        name  school language  gpa
number
1       Park  GATech   Python  3.4
2        Lee  GATech     Java  3.2
3        Kim  GATech        C  3.8

In [10]:
df.iloc[0, 1] # Park's school

'GATech'

In [12]:
df.iloc[[0,1], 2] # Park and Lee language

number
1    Python
2      Java
Name: language, dtype: object

In [11]:
df.iloc[[0,1], [0,2]] # Park and Lee : name and language

        name language
number
1       Park   Python
2        Lee     Java