# 9. Data Selection (condition)
find data by condition

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col = 'number')
df

         name  school    language  gpa
number
1        Park  GATech      Python  3.4
2         Lee  GATech        Java  3.2
3         Kim  GATech           C  3.8
4       Rishi  GATech        Ruby  4.0
5        Chen  GATech  TypeScript  3.5

In [4]:
df['gpa'] > 3.0 # boolean

number
1    True
2    True
3    True
4    True
5    True
Name: gpa, dtype: bool

In [6]:
filt = (df['gpa'] >= 3.5)
df[filt]

         name  school    language  gpa
number
3         Kim  GATech           C  3.8
4       Rishi  GATech        Ruby  4.0
5        Chen  GATech  TypeScript  3.5

In [7]:
df[~filt] # reverse filter

        name  school language  gpa
number
1       Park  GATech   Python  3.4
2        Lee  GATech     Java  3.2

In [8]:
df.loc[df['gpa'] > 3.5, 'name'] # name of students who have gpa over 3.5

number
3      Kim
4    Rishi
Name: name, dtype: object

## Other Conditions

In [11]:
df.loc[(df['gpa'] > 3.3) & (df['school'] == 'GATech')] # and

         name  school    language  gpa
number
1        Park  GATech      Python  3.4
3         Kim  GATech           C  3.8
4       Rishi  GATech        Ruby  4.0
5        Chen  GATech  TypeScript  3.5

In [13]:
df.loc[(df['gpa'] < 3.5) | (df['language'] != 'Ruby')] # or

        name  school    language  gpa
number
1       Park  GATech      Python  3.4
2        Lee  GATech        Java  3.2
3        Kim  GATech           C  3.8
5       Chen  GATech  TypeScript  3.5

## str function

In [17]:
filt = df['name'].str.startswith('P')
df[filt]

        name  school language  gpa
number
1       Park  GATech   Python  3.4

In [18]:
filt = df['name'].str.contains('R')
df[filt]

         name  school language  gpa
number
4       Rishi  GATech     Ruby  4.0

In [19]:
df[~filt]

        name  school    language  gpa
number
1       Park  GATech      Python  3.4
2        Lee  GATech        Java  3.2
3        Kim  GATech           C  3.8
5       Chen  GATech  TypeScript  3.5

In [29]:
langs = ['Python', 'Java']
filt = df['language'].isin(langs) # if language is in langs
df[filt]

        name  school language  gpa
number
1       Park  GATech   Python  3.4
2        Lee  GATech     Java  3.2

In [ ]:
# df['language'].str.contains('Java', na = False) na is for NaN data